extends partials/main-layout.partial.pug

include partials/mixins.pug

block content

    div(class="header-logo__wrapper")
        img(class="header-logo", src=assetsPath + "/openscn-logo.svg")

    h1(class="header-title") Your account has been created!

    div(class="message-container")
        p Welcome to OpenSCN 🎉

        +cta(clientUrl, "Start using OpenSCN")

    div(class="notes-wrapper")
        p(class="notes") Alternatively you can use the following link
            br
            a(href=clientUrl) #{clientUrl}
